@CHARSET "UTF-8";


.cf:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#bd {
    margin: 0 auto;
    padding: 10px 0 65px;
    width: 480px;
}

#bd .sysmsg-tip-deal-close .sysmsg-tip-close {
    top: 15px;
}
#bd .sysmsg-tip-deal-close {
    margin-bottom: 24px;
}

#bd .bread-nav {
    color: #333333;
    font-size: 12px;
    margin: 0 0 10px;
}

#bd .bread-nav a {
    color: #1A7B7B;
}
#bd .bread-nav span {
    color: #898989;
    margin: 0 5px;
}

#bdw {
    min-height: 500px;
}

.bg-for-new-index #bdw {
    margin-left: -20px;
}

#deal-default #content {
    margin-bottom: 30px;
}

#deal-verify #content .result-box-wrapper {
    margin-top: 80px;
}

#content {
    float: left;
    padding: 0;
    width: 702px;
}

#content .mainbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4D4D4;
    clear: both;
    height: auto !important;
    min-height: 400px;
    padding: 20px;
}
#content .mainbox h2 {
    border-bottom: 1px solid #DCDCDC;
    font-size: 28px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#content .mainbox h2 span {
    font-size: 14px;
}
#content .mainbox h2 span.charge {
    font-weight: normal;
    padding-left: 10px;
}
#content .mainbox h2 span.op-area {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 40px;
}
#content .mainbox p.tip {
    margin-bottom: 5px;
}
#content .box-topic h2 {
    border-bottom: 1px solid #E5E5E5;
    font-size: 30px;
    margin: -20px -20px 0;
    padding: 15px 0 9px 20px;
}
#content .result-box-wrapper {
    margin: 30px auto;
    text-align: center;
}
#content .result-box-wrapper .result-box {
    display: inline-block;
    position: relative;
    text-align: left;
}
#content .result-box-wrapper .result-box h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 8px;
    padding-left: 40px;
}
#content .result-box-wrapper .result-tip h3 {
    background-position: 0 -40px;
}
#content .result-box-wrapper .result-failure h3 {
    background-position: 0 -80px;
}
#content .result-box-wrapper .result-warning h3 {
    background-position: 0 -80px;
}
#content .result-box-wrapper .result-box p {
    color: #666666;
}
#content .result-box-wrapper .mobile-link {
    padding-left: 10px;
    position: relative;
}
#content .result-box-wrapper .mobile-icon {
    height: 15px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 9px;
}
#content .result-box-wrapper .result-box p em {
    color: #CC0000;
    font-weight: bold;
    margin: 0 2px;
}
#content .result-box-wrapper .result-operation {
    margin-top: 20px;
}
#content .blk-tip {
    background: none repeat scroll 0 0 #FFFBF2;
    border: 1px solid #F6E0AF;
    font-size: 12px;
    margin: 0;
    padding: 10px 15px;
}
#content .blk-tip h5 {
    margin: 0 0 5px;
}
#content .blk-tip li {
    list-style: disc outside none;
    margin-left: 20px;
}
#content .mht-tips {
    padding: 50px 0;
    text-align: center;
}
#content .mht-tips h3 {
    color: #CC0001;
    font-family: "Microsoft YaHei","微软雅黑";
    font-size: 26px;
}
#content .mht-tips .more {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
}

#deal-intro .digest {
    color: #666666;
    margin-left: 10px;
    margin-top: 28px;
    min-height: 70px;
    padding-left: 70px;
    padding-right: 35px;
}
#deal-intro {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #DBD7D6;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #CCDEE0;
    clear: both;
    margin-bottom: 10px;
    padding: 15px 15px 0;
}
#deal-intro h1 {
    color: #333333;
    font-family: 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
    font-size: 24px;
    line-height: 1.4;
    padding: 0 20px 20px;
}
#deal-intro .deal-brand {
    color: #000000;
    font: bold 28px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
    padding: 9px 20px 5px 0;
}
#deal-intro .deal-brand h1 {
    display: inline;
    font-size: 28px;
    padding: 0;
}
#deal-intro h2.deal-title {
    color: #777777;
    font-family: 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
    font-size: 20px;
    line-height: 1.4;
    padding: 0 20px 20px 9px;
}
#deal-intro .main {
    background: none repeat scroll 0 0 #F4F4F4;
    float: left;
    font-family: Helvetica,arial,sans-serif;
    margin-bottom: 16px;
    padding-top: 63px;
    position: relative;
    width: 208px;
}
#deal-intro .deal-discount {
    background: #37ADB1;
    color: #FFFFFF;
    font-family: arial,sans-serif;
    font-size: 34px;
    height: 56px;
    left: -7px;
    padding: 0 0 7px 15px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 1;
}
#deal-intro .deal-discount .price {
    line-height: 56px;
}
#deal-intro .deal-discount .symbol-RMB {
    font-size: smaller;
    margin-right: -4px;
}
#deal-intro .deal-discount .digits4 {
    font-size: 28px;
}
#deal-intro .deal-discount .digits5 {
    font-size: 26px;
}
#deal-intro .deal-discount .digits6 {
    font-size: 22px;
}
#deal-intro .deal-discount .original {
    font-size: 18px;
    line-height: 18px;
    margin-left: 5px;
    position: relative;
}
#deal-intro .deal-discount .discount-price {
    font-weight: bold;
    text-decoration: line-through;
}
#deal-intro .deal-discount .discount-text {
    height: 23px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -31px;
    width: 44px;
}

#deal-intro .main .deal-info {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F4F4F4;
    border-color: #E4E4E4;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px 1px;
    color: #666666;
    font-family: arial,Tahoma,sans-serif,Tahoma,sans-serif;
    font-size: 12px;
    text-align: center;
}
#deal-intro .main .deal-buy {
    border-bottom: 1px solid #E3E3E3;
    font-size: 16px;
    height: 40px;
    padding: 12px 3px 17px 6px;
    text-align: center;
}
#deal-intro .deal-info--withscheme .deal-buy {
    border-top: 1px solid #FFFFFF;
    padding-top: 17px;
}
#deal-intro .main .deal-info .op-single {
    padding-left: 53px;
    padding-right: 54px;
}
#deal-intro .main .deal-buy a, #deal-intro .main .deal-buy .over {
    float: left;
    height: 40px;
    outline: 0 none;
    text-indent: -9999em;
    width: 88px;
}
#deal-intro .main .deal-info .op-single a, #deal-intro .main .deal-info .op-single .over {
    width: 100px;
}
#deal-intro .main .deal-buy .cart {
    background-position: 0 -228px;
    float: right;
    width: 100px;
}
#deal-intro .main .deal-buy .cart:hover {
    background-position: 0 -269px;
}
#deal-intro .main .deal-price-tag-open a:hover {
    background-position: 0 -105px;
}
#deal-intro .main .deal-price-tag-lottery a {
    background-position: -89px -64px;
}
#deal-intro .main .deal-price-tag-lottery a:hover {
    background-position: -89px -105px;
}
#deal-intro .main .deal-price-tag-expired .over {
    background-position: 0 -146px;
}
#deal-intro .main .deal-price-tag-soldout .over {
    background-position: 0 -187px;
}
#deal-intro .main .deal-price-tag-mobileonly a {
    background-position: -101px -146px;
}
#deal-intro .main .deal-price-tag-mobileonly a:hover {
    background-position: -101px -187px;
}
#deal-intro .main .deal-status {
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #FBFBFB;
    color: #666666;
    height: 53px;
    padding: 11px 5px;
    text-align: center;
}
#deal-intro .main .deal-info-last {
    border-bottom: 0 none;
    padding: 46px 5px;
}
#deal-intro .main .deal-status .deal-status-time-left strong {
    margin: 0 2px;
}
#deal-intro .main .deal-status .deal-status-count {
    font-size: 18px;
    line-height: 30px;
}
#deal-intro .main .deal-status .deal-status-count strong {
    color: #EE5239;
    margin: 0 2px;
}
#deal-intro .main .deal-status .deal-status-count .current-buy-number {
    margin-left: 0;
}
#deal-intro .main .deal-status .digit-size-L {
    font-size: 16px;
}
#deal-intro .main .deal-status .digit-size-M {
    font-size: 14px;
}
#deal-intro .main .deal-status .digit-size-S {
    font-size: 12px;
}
#deal-intro .main .consumer-protection {
    overflow: hidden;
}
#deal-intro .main .consumer-protection .protect-item {
    border-top: 1px solid #FBFBFB;
    float: left;
    height: 52px;
    padding: 8px 0;
}
#deal-intro .main .protect-item__icon {
    cursor: pointer;
    display: block;
    height: 28px;
    margin: 0 35px 5px;
    width: 32px;
}
#deal-intro .main .protect-item__link {
    color: #009999;
    display: block;
    line-height: 14px;
    text-align: center;
}
#deal-intro .main .protect-item__link:hover {
    text-decoration: none;
}
#deal-intro .main .protect-item--quality, #deal-intro .main .protect-item--no-quality, #deal-intro .main .protect-item--anytime, #deal-intro .main .protect-item--no-anytime {
    border-right: 1px solid #E4E4E4;
    width: 204px;
}
#deal-intro .main .protect-item--seven, #deal-intro .main .protect-item--no-seven, #deal-intro .main .protect-item--expire, #deal-intro .main .protect-item--no-expire {
    border-left: 1px solid #FAFAFA;
    width: 102px;
}
#deal-intro .main .protect-item--no-anytime .protect-item__link, #deal-intro .main .protect-item--no-expire .protect-item__link, #deal-intro .main .protect-item--no-seven .protect-item__link {
    color: #999999;
}
#deal-intro .main .protect-item--anytime .protect-item__icon {
    background-position: 2px 0;
}
#deal-intro .main .protect-item--expire .protect-item__icon {
    background-position: 2px -30px;
}
#deal-intro .main .protect-item--seven .protect-item__icon {
    background-position: 2px -60px;
}
#deal-intro .main .protect-item--quality .protect-item__icon {
    background-position: 2px -90px;
}
#deal-intro .main .protect-item--no-anytime .protect-item__icon {
    background-position: 0 -120px;
}
#deal-intro .main .protect-item--no-expire .protect-item__icon {
    background-position: 0 -150px;
}
#deal-intro .main .protect-item--no-seven .protect-item__icon {
    background-position: 0 -180px;
}
#deal-intro .deal-buy-cover-img {
    box-shadow: -3px 1px 1px -1px #E0E0E0;
    float: left;
    font-size: 0;
    margin-bottom: 16px;
    position: relative;
}
#deal-intro .deal-mark {
    right: 3px;
    top: -4px;
}
#deal-intro .deal-preference {
    background-color: #F4F4F4;
    border-top: 1px solid #D4D4D4;
    clear: left;
    color: #333333;
    font-size: 12px;
    margin: 16px -15px 1px;
    padding: 3px 17px;
    width: 666px;
}
#deal-intro .preference-bar {
    height: 30px;
}
#deal-intro .in-favorite {
    color: #666666;
    cursor: default;
    line-height: 30px;
    text-decoration: none;
}
#deal-intro .add-favorite {
    color: #333333;
    display: inline-block;
    line-height: 30px;
    padding-left: 18px;
    text-decoration: none;
}
#deal-intro .add-favorite i {
    display: inline-block;
    height: 12px;
    margin: 0 5px 0 -18px;
    vertical-align: -2px;
    width: 13px;
}

#deal-intro .deal-preference {
    color: #333333;
    font-size: 12px;
    font-family:'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
}

#deal-rating {
    background-color: #FFFFFF;
    font-family:'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
    border: 1px solid #D4D4D4;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 12px 15px;
}

#deal-rating em {
    color: #F44D3B;
    font-family: arial,sans-serif;
    font-weight: bold;
}

#deal-rating .stars {
    margin: 10px 30px 2px 6px;
    vertical-align: top;
    width: 80px;
}

#deal-rating .more {
    float: right;
    line-height: 36px;
}

#deal-rating .score-info {
    line-height: 36px;
}

#deal-rating .score-info em {
    font-size: 24px;
    line-height: 36px;
}


.inline-block {
    display: inline-block;
}


#deal-stuff {
    margin-bottom: 10px;
    font-family:'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
}

#deal-stuff .standard-content {
    padding: 2px 15px;
}

#deal-stuff .standard-bar {
    margin-bottom: 5px;
}
#deal-stuff .box-content {
    background-color: #EFF6FE;
}
#deal-stuff .main {
    margin: 15px 0;
    padding: 6px 15px;
    word-wrap: break-word;
}
#deal-stuff .main .detail-tips {
    margin-bottom: 10px;
}
#deal-stuff .side {
    float: right;
    padding: 15px;
    width: 198px;
}
#deal-stuff .main h2 {
    border: 0 none;
    font-size: 16px;
}
#deal-stuff .side h2 {
    border: 0 none;
    font-size: 14px;
    margin: 0;
}
#deal-stuff .deal-price strong {
    color: #FFFFFF;
    float: left;
    font-size: 250%;
}
#deal-stuff .deal-buy-bottom {
    background-color: #FAFAFA;
    border-top: 1px solid #F1F0F0;
    clear: both;
    padding: 30px 45px;
}
#deal-stuff .deal-buy-bottom .num {
    font-family: arial,Tahoma,sans-serif;
}
#deal-stuff .deal-buy-bottom .price {
    color: #EE5238;
    float: left;
    font-size: 36px;
    line-height: 40px;
}
#deal-stuff .deal-buy-bottom a, #deal-stuff .deal-buy-bottom .over {
    float: right;
    height: 40px;
    outline: 0 none;
    text-indent: -9999em;
    width: 88px;
}
#deal-stuff .deal-buy-bottom a:hover {
    background-position: 0 -105px;
}
#deal-stuff .deal-buy-bottom .over {
    background-position: 0 -187px;
    width: 100px;
}
#deal-stuff .deal-buy-bottom .cart {
    background-position: 0 -228px;
    margin-left: 10px;
    width: 100px;
}
#deal-stuff .deal-buy-bottom .cart:hover {
    background-position: 0 -269px;
}
#deal-stuff .deal-buy-bottom ul {
    color: #999999;
    margin: 0 200px 0 70px;
    text-align: center;
}
#deal-stuff .deal-buy-bottom ul .num {
    color: #333333;
}
#deal-stuff .deal-buy-bottom li {
    float: left;
    width: 100px;
}
#deal-stuff .mainbox {
    padding: 0;
}
#deal-stuff h2 {
    font-size: 16px;
}
#deal-stuff .main .blk {
    margin: 7px 0 30px;
}
#deal-stuff .main .detail {
    overflow: hidden;
    width: 670px;
}
#deal-stuff .main .blk p {
    margin: 10px 0 15px;
}
#deal-stuff .main .detail p {
    margin: 5px 0;
}
#deal-stuff .main .chart {
    margin: 0 auto;
}
#deal-stuff .main .chart th, #deal-stuff .main .chart td {
    border: 1px solid #666666;
    padding: 5px;
    text-align: center;
}
#deal-stuff .main .chart th {
    background: none repeat scroll 0 0 #7A7A7A;
    color: #FFFFFF;
}
#deal-stuff .main .chart td {
    background: none repeat scroll 0 0 #EDF8FE;
}
#deal-stuff .main .chart td.first {
    background: none repeat scroll 0 0 #A3DCEF;
}
#deal-stuff .main .voice {
    margin-top: 105px;
}
#deal-stuff .main .voice-title {
    border: 0 none;
    height: 64px;
    left: -27px;
    position: absolute;
    text-indent: -9999px;
    width: 491px;
}
#deal-stuff .main .voice-share {
    background: none repeat scroll 0 0 #EAF6FF;
    border: 1px solid #89B4D4;
    margin-bottom: 15px;
    padding: 4px 6px;
}
#deal-stuff .main .voice-share li {
    float: left;
    font-size: 12px;
}
#deal-stuff .main .voice-share a {
    margin-right: 12px;
    padding: 3px 0 3px 20px;
}
#deal-stuff .main .voice-share a.qq {
    background-position: 0 -277px;
}
#deal-stuff .deal-detail-intro {
    margin-bottom: 30px;
}
#deal-stuff .deal-detail-intro h2 {
    font-size: 16px;
    margin: 0;
}
#deal-stuff .deal-detail-intro ul {
    margin-left: 16px;
    margin-top: 5px;
}
#deal-stuff .deal-detail-intro li {
    line-height: 1.6;
    list-style-position: outside;
    list-style-type: disc;
}
#deal-stuff .main ul.list {
    margin: 10px 0 15px;
    padding-left: 18px;
}
#deal-stuff .main ul.list li {
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 5px;
}
#deal-stuff .main ol.list {
    margin: 10px 0 15px;
    padding-left: 18px;
}
#deal-stuff .main ol.list li {
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 5px;
}
#deal-stuff .main dt {
    font-weight: bold;
    margin: 10px 0 2px;
}
#deal-stuff .main .detail .widthcontent-label {
    padding-right: 10px;
}
#deal-stuff .main .detail .sort-default, #deal-stuff .main .detail .sort-time {
    border-left: 1px solid #E1E1E1;
    color: #222222;
    display: inline;
    padding: 0 10px;
}
#deal-stuff .main .detail .sort-time {
    padding-right: 0;
}
#deal-stuff .main .detail .selected-sort {
    color: #999999;
    cursor: default;
    font-weight: bold;
}
#deal-stuff .main .detail .sort-icon {
    border: 0 none;
    padding: 0 0 0 10px;
    vertical-align: middle;
}
#deal-stuff .deal-term {
    background: none repeat scroll 0 0 #FFFDE8;
    border: 1px solid #EFEFE5;
    color: #666666;
    margin: 10px 0;
    padding: 5px 10px 10px;
}
#deal-stuff .deal-term h5 {
    font-size: 16px;
    margin-bottom: 5px;
}
#deal-stuff .deal-term dt {
    float: left;
    margin: 0;
}
#deal-stuff .deal-term dd {
    overflow: hidden;
}
#deal-stuff .deal-term .deal-term__rule {
    float: none;
}
#deal-stuff .deal-term ul {
    margin-left: 16px;
}
#deal-stuff .deal-term ul li {
    list-style: square outside none;
}
#deal-stuff .banner-deal-detail {
    margin: 0 0 20px;
}
#deal-stuff .banner-deal-detail img {
    display: block;
}
#deal-stuff .acronym {
    cursor: help;
    font-weight: normal;
}
#deal-stuff .acronym sup, #deal-stuff .main .deal-term .acronym-box label {
    background: none repeat scroll 0 0 #37ADB1;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: help;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    height: 12px;
    line-height: 12px;
    text-align: center;
    width: 12px;
}
#deal-stuff .main .deal-term .acronym-box {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    font-size: 12px;
    left: -16px;
    margin: 3px 0 0;
    padding: 5px 10px;
    position: relative;
}
#deal-stuff .main .deal-term .acronym-box:before {
    color: #000000;
    content: "名词解释";
    display: block;
    font-weight: bold;
}
#deal-stuff .main .deal-term .acronym-box li {
    list-style: none outside none;
}
#deal-stuff .main .deal-term .acronym-box label {
    cursor: text;
}
#deal-stuff .main .content-title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
}
#deal-stuff .deposit {
    height: 108px;
    margin: 0 auto 12px;
    padding: 4px 13px 10px;
    width: 644px;
}
#deal-stuff .deposit h3 {
    font-size: 16px;
    line-height: 44px;
    margin-bottom: 10px;
}
#deal-stuff .deposit h3 em {
    font-family: arial;
    margin-right: 5px;
}
#deal-stuff .deposit h3 .money {
    color: #EE5238;
    font-size: 18px;
}
#deal-stuff .deposit p {
    font-size: 12px;
}
#deal-stuff .user-reviews {
    margin-bottom: -6px;
}
#deal-stuff .user-reviews .overview {
    border: 1px solid #E7E3E4;
    box-shadow: 1px 1px #F3F1F2;
}
#deal-stuff .user-reviews .overview-title {
    float: left;
}
#deal-stuff .user-reviews .overview-head {
    background: none repeat scroll 0 0 #F4F4F4;
    border-bottom: 1px solid #E7E3E4;
    line-height: 35px;
    padding: 0 10px;
}
#deal-stuff .user-reviews .overview-feedback {
    float: right;
    font-size: 12px;
}
#deal-stuff .user-reviews .rating-area {
    float: left;
    height: 115px;
    overflow: hidden;
    padding-top: 20px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 221px;
}
#deal-stuff .user-reviews .total-group {
    margin-bottom: 10px;
    text-align: center;
}
#deal-stuff .user-reviews .total-score {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
#deal-stuff .user-reviews .total-count {
    margin: 0;
}
#deal-stuff .user-reviews .total-count strong {
    color: #EE5238;
}
#deal-stuff .user-reviews .average-score {
    color: #EE5238;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 3px;
}
#deal-stuff .user-reviews .common-rating {
    margin: 0 5px;
    text-align: left;
}
#deal-stuff .user-reviews .score-detail {
    border-left: 1px solid #DBDBDB;
    width: 223px;
}
#deal-stuff .user-reviews .count-detail {
    border-left: 1px solid #DBDBDB;
    height: 113px;
    padding-top: 22px;
    text-align: center;
}
#deal-stuff .user-reviews .count-wrapper {
    text-align: left;
}
#deal-stuff .user-reviews .count-group {
    color: #666666;
    line-height: 1;
    margin: 0 auto 5px;
}
#deal-stuff .user-reviews .score-group {
    color: #666666;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    padding-left: 70px;
    padding-top: 3px;
    position: relative;
}
#deal-stuff .user-reviews .score-title {
    left: 5px;
    position: absolute;
    text-align: right;
    top: 3px;
    width: 65px;
}
#deal-stuff .user-reviews .delivery-group {
    padding-left: 85px;
}
#deal-stuff .user-reviews .delivery-group .score-title {
    width: 80px;
}
#deal-stuff .user-reviews .score {
    color: #999999;
}
#deal-stuff .user-reviews .percent-box {
    background: none repeat scroll 0 0 #FFF3E7;
    color: #666666;
    height: 12px;
    margin: 0 7px;
    text-align: left;
    width: 100px;
}
#deal-stuff .user-reviews .percent {
    background: none repeat scroll 0 0 #FC9E58;
    height: 12px;
    vertical-align: top;
}
#deal-stuff .user-reviews .area-no-reviews {
    font-size: 12px;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
}
#deal-stuff .user-reviews .my-review {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #E6E2E3;
    padding: 15px 10px;
    position: relative;
}
#deal-stuff .user-reviews .my-review .content {
    color: #222222;
    font-size: 12px;
    margin-bottom: 10px;
}
#deal-stuff .user-reviews .my-review .modify {
    font-size: 12px;
}
#deal-stuff .user-reviews .arrow {
    position: absolute;
    right: 80px;
    top: -1px;
}
#deal-stuff .user-reviews .arrow .outer, #deal-stuff .user-reviews .arrow .inner {
    border-bottom: 10px solid #FAFAFA;
    border-left: 10px dashed transparent;
    border-right: 10px dashed transparent;
    height: 0;
    left: 0;
    position: absolute;
    top: -9px;
    width: 0;
}
#deal-stuff .user-reviews .arrow .outer {
    border-bottom: 10px solid #E6E2E3;
    top: -10px;
}
#deal-stuff .user-reviews .link-button {
    font-size: 12px;
    padding: 1px 8px;
}
#deal-stuff .user-reviews .filter {
    background: none repeat scroll 0 0 #F4F4F4;
    font-size: 12px;
    margin: 10px 0;
    padding: 0 10px;
}
#deal-stuff .user-reviews .filter li {
    float: left;
    margin-right: 15px;
    padding: 7px 0;
}
#deal-stuff .user-reviews .filter li a {
    display: block;
    text-decoration: none;
}
#deal-stuff .user-reviews .filter .current a {
    color: #666666;
    font-weight: bold;
}
#deal-stuff .user-reviews .filter li span {
    border-right: 1px solid #D2D2D2;
    color: #999999;
    font-size: 10px;
    padding-right: 10px;
}
#deal-stuff .user-reviews .filter input {
    vertical-align: middle;
}
#deal-stuff .user-reviews .filter label {
    font-size: 12px;
}
#deal-stuff .user-reviews .filter .last {
    float: right;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
#deal-stuff .user-reviews .review-list li {
    border-bottom: 1px dotted #DBDBDB;
    color: #222222;
    font-size: 12px;
    padding: 20px 10px;
}
#deal-stuff .user-reviews .review-list .shopname {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
}
#deal-stuff .user-reviews .review-list .biz-reply {
    color: #C6895A;
    margin: 15px 0 0;
}
#deal-stuff .user-reviews .no-score {
    float: right;
}
#deal-stuff .user-reviews .small-normal-button {
    background: -moz-linear-gradient(center top , #FFFFFF, #F6F6F6) repeat scroll 0 0 #FFFFFF;
    border-color: #DBDBDB;
    color: #222222;
    margin: 10px 5px 0 0;
}
#deal-stuff .user-reviews .small-normal-button:hover {
    background: -moz-linear-gradient(center top , #F5F5F5, #DCDCDC) repeat scroll 0 0 #DCDCDC;
}
#deal-stuff .user-reviews .small-normal-button .number {
    color: #999999;
}
#deal-stuff .user-reviews .agree-tips {
    color: #EE5238;
}
#deal-stuff .user-reviews .info {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}
#deal-stuff .user-reviews .info .time {
    color: #999999;
    font-size: 10px;
    margin-left: 10px;
}
#deal-stuff .user-reviews .info .common-rating {
    margin: 3px 0;
    vertical-align: top;
}
#deal-stuff .user-reviews .info .rate-status {
    float: right;
}
#deal-stuff .user-reviews .info .rate-status .status {
    color: #CC0000;
    margin-left: 20px;
}
#deal-default #content {
    margin-bottom: 30px;
}

}
#sidebar {
    float: right;
    width: 240px;
}
#sidebar h2 {
    font-size: 16px;
    padding-bottom: 9px;
}
#sidebar .sidebox {
    background-color: #EFF8FF;
    border: 2px solid #89B4D6;
    margin-bottom: 10px;
    padding-bottom: 12px;
}
#sidebar .sidebox h3 {
    background: -moz-linear-gradient(center top , #FFFFFF, #EAECEC) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 #EAECEC;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
}
#sidebar .sideinner {
    height: auto !important;
    min-height: 48px;
    padding: 12px 12px 6px;
}
#sidebar .mobile {
    height: 108px;
    padding: 0;
    position: relative;
}
#sidebar .mobile label {
    height: 43px;
    position: absolute;
    right: -2px;
    text-indent: -9999px;
    top: -2px;
    width: 46px;
    z-index: 1;
}
#sidebar .mobile label a {
    display: block;
    height: 100%;
    outline: 0 none;
}
#sidebar .mobile a.bgpic {
    display: block;
    height: 86px;
    outline: 0 none;
    text-indent: -9999px;
    width: 236px;
}
#sidebar .mobile a.tip {
    color: #666666;
    display: block;
    font-size: 12px;
    left: 65px;
    outline: 0 none;
    position: absolute;
    top: 37px;
}
#sidebar .mobile a.tip:hover {
    text-decoration: none;
}

#sidebar .invite p {
    padding: 0 0 0 60px;
}
#sidebar .invite .click {
    font-size: 12px;
    padding: 16px 0 0;
    text-align: center;
}
#sidebar #lottery-list {
    margin-top: 10px;
}
#sidebar .lottery ul {
    padding-left: 3px;
    width: 205px;
}
#sidebar .lottery .label {
    display: block;
    height: 80px;
    margin-top: 10px;
    outline: 0 none;
    text-indent: -9999px;
}
#sidebar .lottery li {
    font-size: 12px;
    list-style-position: inside;
    list-style-type: square;
    padding: 3px 0;
}
#sidebar .lottery p a {
    border-top: 1px solid #DFEDF9;
    display: block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-top: 6px;
    outline: 0 none;
    padding-top: 6px;
    text-align: center;
}
#sidebar .lottery .box {
    padding: 12px 12px 0;
    position: relative;
}
#sidebar .lottery .box .title {
    border-bottom: 1px solid #DFEDF9;
    padding: 6px 0;
}
#sidebar .lottery .box label {
    height: 46px;
    position: absolute;
    right: 9px;
    text-indent: -9999px;
    top: 9px;
    width: 50px;
}
#sidebar .lottery .box .title a {
    color: #666666;
    display: block;
}
#sidebar .service .sideinner {
    position: relative;
}
#sidebar .service .sideinner span {
    display: block;
    height: 48px;
    width: 49px;
}
#sidebar .service p {
    color: #666666;
    padding: 0 0 0 60px;
    position: absolute;
    top: 12px;
}
#sidebar .service strong {
    color: #86A649;
    display: block;
    font-size: 16px;
}
#sidebar .business p {
    padding: 0 0 0 56px;
}
#sidebar .notice ul {
    margin-left: 16px;
}
#sidebar .notice li {
    list-style-position: outside;
    list-style-type: disc;
    padding: 3px 0;
}
#sidebar .banner {
    background: none repeat scroll 0 0 #E4F7FF;
    height: 125px !important;
    overflow: hidden;
    padding: 0;
}
#sidebar .vote .sideinner {
    font-size: 12px;
    padding-bottom: 46px;
    position: relative;
}
#sidebar .vote p {
    padding-left: 60px;
    position: absolute;
    top: 12px;
}
#sidebar .vote span {
    display: block;
    height: 41px;
    width: 48px;
}
#sidebar .vote .votenow {
    color: #FFFFFF;
    display: block;
    height: 28px;
    line-height: 28px;
    margin: 10px 0 0;
    outline: 0 none;
    text-align: center;
    width: 147px;
}
#sidebar .consult .sideinner {
}
#sidebar .consult p {
    color: #CCCCCC;
    padding: 0 0 0 60px;
}

#sidebar .save p {
    padding: 0 0 0 60px;
}
#sidebar .save strong {
    color: #CC3333;
}
#sidebar .tips p {
    color: #666666;
    font-size: 12px;
    margin-bottom: 12px;
}
#sidebar .tips ul {
    color: #666666;
    font-size: 12px;
    margin-bottom: 12px;
}
#sidebar .tips li {
    list-style: disc outside none;
    margin-left: 16px;
}
#sidebar .tips li strong {
    font-weight: 700;
}
#sidebar .faqside p {
    margin-bottom: 18px;
    text-align: center;
}
#sidebar .credit {
    padding: 10px 10px 10px 15px;
}
#sidebar .cnnic {
    height: 60px;
    padding: 0;
}
#sidebar .commitment {
    height: 106px;
    padding: 0;
}
#sidebar .movie {
    height: 118px;
    padding: 0;
}
#sidebar .campus {
    height: 80px;
    padding: 0;
}
#sidebar .mt-app-download {
    border: 1px solid #D4D4D4;
    height: 300px;
    padding: 0;
}
#sidebar .banner-slider {
    height: 140px;
    overflow: hidden;
    padding: 0;
}
#sidebar .promotion {
    overflow: hidden;
    padding: 0;
}
#sidebar .alipayforevent {
    height: 126px;
    overflow: hidden;
    padding: 0;
}
#sidebar .miaosha4 {
    height: 126px;
    overflow: hidden;
    padding: 0;
}
#sidebar .lottery-anniversary {
    overflow: hidden;
    padding: 0;
}
#sidebar .lottery-anniversary img {
    display: block;
}
#sidebar .sbox {
    margin-bottom: 15px;
}
#sidebar .commitment img, #sidebar .movie img, #sidebar .campus img, #sidebar .banner-slider img, #sidebar .lottery img, #sidebar .mobile img, #sidebar .cnnic img, #sidebar .gift img, #sidebar .alipayforevent img, #sidebar .miaosha4 img, #sidebar .promotion img {
    vertical-align: bottom;
}
#sidebar .miaosha img {
    border: 1px solid #EAE8E8;
    margin: 6px 0;
}
#sidebar .miaosha p {
    margin-bottom: 20px;
    position: relative;
}
#sidebar .miaosha p a {
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 64px;
}
#sidebar .miaosha strong {
    color: #FF0000;
}
#sidebar .cardcode-trigger {
    padding-left: 12px;
}
#sidebar .cardcode .code {
    display: block;
    margin-top: 10px;
    width: 185px;
}
#sidebar .cardcode .form-button {
    margin-top: 10px;
}
#sidebar .gift {
    height: 82px;
    overflow: hidden;
    padding: 0;
}
#sidebar .ads {
    padding-bottom: 0;
}
#sidebar .side-box {
    border: 1px solid #D4D4D4;
    margin-bottom: 10px;
}
#sidebar .side-box__title {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 9px 15px;
}
#sidebar .side-box img {
    vertical-align: top;
}
#sidebar .side-box--topic .topic-item-w {
}
#sidebar .side-box--topic .topic-item {
    background-repeat: no-repeat;
    display: block;
    height: 140px;
    overflow: hidden;
}
#sidebar .side-box--topic .topic-item:hover {
    text-decoration: none;
}
#sidebar .side-box--topic .topic-item__title {
    display: block;
    text-indent: -9999px;
}
#sidebar .side-box--topic .topic-item__subtitle {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}
#sidebar .side-single {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4D4D4;
    margin-bottom: 10px;
    padding: 0 15px;
}
#sidebar .side-single h3 {
    margin-bottom: 12px;
}
#sidebar .side-single .inner-blk {
    border-bottom: 1px solid #F0F0F0;
    font: bold 16px 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
    padding: 20px 0;
}
#sidebar .side-single .inner-blk img {
    vertical-align: top;
}
#sidebar .side-single .last {
    border-bottom: 0 none;
}
#sidebar .side-single .lottery {
    color: #3E4545;
    padding-top: 0;
}
#sidebar .side-single .inner-side {
    padding: 0;
}
#sidebar .side-single .inner-img-blk {
    background-position: -15px 0;
    background-repeat: no-repeat;
    border-bottom: 1px solid #F0F0F0;
    color: #666666;
    display: block;
    font-size: 12px;
    padding: 40px 0 20px 42px;
}
#sidebar .side-single .inner-img-blk:hover {
    color: #00BBBB;
    text-decoration: none;
}
#sidebar .side-single .inner-img-blk:hover .no-hover {
    color: #666666;
}



#sidebar .side-top-single {
    margin-bottom: 12px;
}
#sidebar .side-top-single .inner-blk {
    border-bottom: 0 none;
}

#sidebar .side-consult p {
    color: #CCCCCC;
    line-height: 26px;
    padding: 0 0 0 20px;
}
#sidebar .side-consult a {
    line-height: 25px;
}
#sidebar .side-single .side-save {
    padding: 20px 0 20px 42px;
}
#sidebar .side-single .side-save span {
    display: block;
}
#sidebar .side-single .side-save strong {
    color: #EE5238;
    padding: 0 0.3em;
}
#sidebar .side-tips p {
    color: #666666;
    font-size: 12px;
    margin-bottom: 12px;
}
#sidebar .side-tips .more-help {
    color: #000000;
}
#sidebar .side-tips h4 {
    font-size: 12px;
}
#sidebar .side-tips ul, #sidebar .side-tips ol {
    color: #666666;
    font-size: 12px;
    margin-bottom: 12px;
}
#sidebar .side-tips li {
    line-height: 21px;
    list-style: disc outside none;
    margin-left: 16px;
}
#sidebar .side-tips--no-style li {
    list-style: none outside none;
    margin-left: 1px;
}
#sidebar .side-tips li p {
    line-height: 1.5;
}
#sidebar .side-tips li strong {
    font-weight: 700;
}
#sidebar .uix-collapse__trigger {
    background-position: 0 8px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 15px;
}
#sidebar .uix-collapse__content {
    margin-bottom: 15px;
    padding-left: 15px;
}
#sidebar .uix-collapse--open .uix-collapse__trigger {
    background-position: 0 -38px;
}
#sidebar .side-single .side-custom-service {
    padding-top: 62px;
}
#sidebar .side-hot-deals {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 0;
}
#sidebar .side-hot-deals .deal {
    border-bottom: 1px dashed #E0E0E0;
    font-size: 12px;
    margin-bottom: 20px;
}
#sidebar .side-hot-deals .last-deal {
    border: 0 none;
    margin-bottom: 0;
}
#sidebar .side-hot-deals .last-deal .info {
    margin-bottom: 0;
}
#sidebar .side-hot-deals .deal .pic {
    display: block;
    margin: 0 auto 6px;
}
#sidebar .side-hot-deals .deal h4 {
    margin-bottom: 4px;
}
#sidebar .side-hot-deals .deal h4 a {
    color: #666666;
    font-weight: normal;
}
#sidebar .side-hot-deals .info {
    color: #666666;
    font-family: 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
    margin-bottom: 22px;
    position: relative;
}
#sidebar .side-hot-deals .info strong {
    color: #CC3333;
    font-size: 16px;
    margin-right: 5px;
}
#sidebar .side-hot-deals .total {
    position: absolute;
    right: 0;
    top: 3px;
}
#sidebar .side-hot-deals .total span {
    color: #EF5438;
}
#sidebar .side-hot-deals .around-deal-distance {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 15px;
    position: relative;
}
#sidebar .side-hot-deals .around-deal-distance span {
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
}

#sidebar .side-movie-info-download {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 20px;
}
#sidebar .side-movie-info-download a {
    display: block;
    height: 40px;
    margin: 0 auto 10px;
    outline: 0 none;
    text-indent: -9999px;
    width: 205px;
}
#sidebar .side-movie-info-download .iphone {
    background-position: -17px -6px;
}
#sidebar .side-movie-info-download .android {
    background-position: -17px -56px;
}
#sidebar .side-newbie {
    border: 1px solid #D4D4D4;
    width: 240px;
}
#sidebar .side-rank-deals {
    font-size: 12px;
}
#sidebar .side-rank-deals h3 {
    font-size: 16px;
    margin-bottom: -5px;
}
#sidebar .side-rank-deals .index {
    color: #FFFFFF;
    height: 16px;
    left: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 15px;
}
#sidebar .side-rank-deals h6 {
    font-weight: normal;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}
#sidebar .side-rank-deals h6 a {
    color: #333333;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 188px;
    word-break: keep-all;
}
#sidebar .side-rank-deals h6 a:hover {
    color: #00BBBB;
    text-decoration: none;
}
#sidebar .side-rank-deals li {
    color: #666666;
    margin-top: 25px;
}
#sidebar .side-rank-deals img {
    float: left;
    margin-right: 10px;
}
#sidebar .side-rank-deals .info-content {
    float: left;
    height: 40px;
    overflow: hidden;
    padding-top: 15px;
}
#sidebar .side-rank-deals .info-content .price {
    color: #EE5238;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
#sidebar .side-rank-deals .total {
    color: #999999;
    line-height: 26px;
}
#sidebar .side-rank-deals .total span {
    color: #333333;
    font-weight: bold;
}
#sidebar .pay-consolation {
    font-size: 12px;
    line-height: 21px;
}
#sidebar .pay-consolation h3 {
    font-size: 14px;
}
#sidebar .pay-consolation p {
    margin: 10px 0;
    padding-left: 45px;
}
#sidebar .pay-consolation .fan-ie {
    background-position: 0 -57px;
}


.tllist_box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #D7D7D7 #D7D7D7 #D7D7D7;
    border-image: none;
    border-right: 1px solid #D7D7D7;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin-top: 5px;
    overflow: hidden;
    width: 604px;
}
.tllist_box .tllist1 {
    border-bottom: 1px solid #DDDDDD;
    height: auto;
    margin: 0 auto 6px;
    overflow: hidden;
    padding: 13px 0;
    width: 573px;
}
.tllist_box .tllist1 .p_img {
    border: 1px solid #D1D6DF;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: left;
    height: 69px;
    overflow: hidden;
    width: 69px;
}
.tllist_box .tllist1 .p_img img {
    height: 69px;
    width: 69px;
}
.tllist_box .tllist1 .p_text {
    display: block;
    float: left;
    height: auto;
    margin-left: 15px;
    width: 473px;
}
.tllist_box .tllist1 .p_text1 {
    border: 1px solid #EACCA0;
    border-radius: 4px 4px 4px 4px;
    height: 68px;
    width: 485px;
}
.tllist_box .tllist1 .p_text1 .p_textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    display: block;
    float: left;
    height: 61px;
    margin: 1px;
    width: 480px;
}

#star_point img{
	width: 18px;
	height: 18px;
}

.rate-status{
	margin-right: 0px;
}

.deal-info{
    font-family: arial,sans-serif;
    font-weight: 400;
    font-size:12px;
    height: 216px;
    font-family: arial,sans-serif;
    line-height: 10px;
}
#sidebar{
	float:right;
	width: 240px;
	font-family:'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
}
.details_info{
	padding: 15px 0;
	font-size: 16px;
	font-weight:bold;
	font-family:'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
	text-align: left;
	line-height:20px;
	margin-left: 20px;
	
}

.standard-image{
	margin-bottom: 10px;
}
